# dependencies
node_modules/

# compiled output
dist/
tmp/
out-tsc/
.angular/
coverage/

# environment files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editors and system files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
*~
